/* עיצוב כללי */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 200px; 
    grid-gap: 20px;
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 20px;
   
}

.card-header {
    background-color: #fafafa;
    padding: 15px;
    font-size: 15px;
    height: 5vw;
    font-weight: bold;
    color: #a800c9;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.card-image img {
    width: 100%;
    height: 180px;
    object-fit: contain; 
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #eee;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
}

.price {
    font-size: 22px;
    color: #a800c9;
    font-weight: bold;
}

.add-to-cart {
    padding: 10px 15px;
    
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #ccc;
}

.sidebar {
    position: sticky; 
    top: 0;
    height: 100vh;
    background: linear-gradient(135deg, #007BFF, #00BFFF); 
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.sidebar ul li a.active {
    font-weight: bold;
    color: #ffffff;
    background-color: #0056b3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}