/* עיצוב כללי */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* קונטיינר כללי המחלק את הדף לשני חלקים */
.container {
    display: grid;
    grid-template-columns: 1fr 200px; /* חלק שמאל (1fr) לתוכן, חלק ימין (200px) ל-sidebar */
    grid-gap: 20px; /* רווח בין שני החלקים */
    padding: 20px;
}

/* תצוגת המוצרים */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* עיצוב המוצרים ב-grid */
    gap: 20px;
    padding: 20px;
   
}

.card-header {
    background-color: #fafafa;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.card-image img {
    width: 100%;
    height: 180px;
    object-fit: contain; /* שומר על יחס תמונה */
    padding: 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
}

.price {
    font-size: 22px;
    color: #a800c9;
    font-weight: bold;
}

.add-to-cart {
    padding: 10px 15px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #ccc;
}

.sidebar {
    position: sticky; 
    top: 0;
    height: 100vh; 
    background: white; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    width: 100%; 
}

.sidebar ul li {
    margin: 10px 0; 
}

.sidebar ul li a {
    text-decoration: none; 
    font-size: 18px; 
    color: #747e88; 
    display: block; 
    padding: 12px 18px; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
}

.sidebar ul li a:hover {
    background-color: #e0e0e0; 
}

.sidebar ul li a.active {
    font-weight: bold; 
    color: white; 
    background-color: #007BFF; 
}
